@model Warsztat.BLL.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Carr</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label asp-for="Id"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.Id
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="CarMark"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.CarMark
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="CarModel"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.CarModel
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="YearProduction1"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.YearProduction1
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"></a> |
    <a asp-action="Index">Back to List</a>
</div>
