@using Warsztat_v2.Views.Employee.Components
@model EmployeeStatiscsViewModel


<table class="table table-dark table-hover text-white">
    <thead>
    <tr>

        <th>Employee of the month </th>
        <th>Finished orders</th>
        <th>Employed people</th>
        <th>Mechanic team</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.EmployeeOfMonthName</td>
        <td>@Model.FinishedOrders</td>
        @if (@Model.EmployeeCount == 0)
        {
            <td>No one</td>
        }
        else if (@Model.EmployeeCount == 1)
        {
            <td>@Model.EmployeeCount person</td>
        }
        else if (@Model.EmployeeCount > 1)
        {
            <td>@Model.EmployeeCount people</td>
        }
        @if (@Model.MechanicCount == 0)
        {
            <td>No one</td>
        }
        else if (@Model.MechanicCount == 1)
        {
            <td>@Model.MechanicCount person</td>
        }
        else if (@Model.MechanicCount > 1)
        {
            <td>@Model.MechanicCount people</td>
        }
    </tr>
    </tbody>
</table>