@using Warsztat_v2.Views.Order.Components

@model OrderStatisticViewModel

<h5>Oreders Stats</h5>
<table>
@*	<thead>
		<tr>
			<th> Waiting </th><td>@Model.WaitingOrders</td>
		</tr>
	</thead>
		<thead>
		<tr>
			<th> Verivication </th><td>@Model.InVerivicationOrders</td>
		</tr>
	</thead>
		<thead>
		<tr>
			<th> In Progress </th><td>@Model.InProgressOrders</td>
		</tr>
	</thead>
		<thead>
		<tr>
			<th> Finished </th><td>@Model.FinishedOrders</td>
		</tr>
	</thead>
		<thead>
		<tr>
			<th> Canceled </th><td>@Model.CacncelledOrders</td>
		</tr>
	</thead>*@




		<thead>
		<tr>
	
			<th><span style="color:red">|Waiting  @Model.WaitingOrders|</span> </th>
			@*</tr>*@
			@*<th>---------------------</th>*@
			@*<tr>*@
			<th><span style="color:yellow">|Verivication @Model.InVerivicationOrders|</span> </th>
			@*</tr>*@
			@*<th>---------------------</th>*@
			@*<tr>*@
			<th><span style="color:green">|In Progress  @Model.InProgressOrders|</span> </th>
			@*</tr>*@
			@*<th>---------------------</th>*@
			@*<tr>*@
			<th><span style="color:blue">|Finished  @Model.FinishedOrders|</span> </th>
			@*</tr>*@
			@*<th>---------------------</th>*@
			@*<tr>*@
			<th><span style="color:black">|Cancelled  @Model.CacncelledOrders|</span> </th>
			
		</tr>
	</thead>
</table>