@using Warsztat_v2.Views.Order.Components

@model OrderStatisticViewModel

<div style="float: right; width: 30%; /*height:0%;*/"><h5>Orders Stats</h5></div>
<div style="float: right; width: 50%; /*height:0%;*/"><h5>Search</h5></div>

<table class="table text-white">
	<thead>
		<tr>

			<th>IDN</th>
			<th>CLIENT</th>
			<th>MECHANIC</th>
			@*	@Html.ActionLink("Start Time", "Index", new { sortOrder = ViewBag.StatusSortParm })*@
			<th>@Html.ActionLink("WAITING", "Index", new { sortOrder = ViewBag.WaitingStatus }, new { @class ="text-white"})</th>
			@*<th><span style="color:red">|Waiting  @Model.WaitingOrders|</span> </th>*@

			<th>@Html.ActionLink("VERIFICATION", "Index" , new { sortOrder=ViewBag.VerivicationStatus }, new { @class ="text-white"}) </th>
			@*<th><span style="color:yellow">|Verivication @Model.InVerivicationOrders|</span> </th>*@

			<th>@Html.ActionLink("IN PROGRESS", "Index", new { sortOrder = ViewBag.InProgressStatus }, new { @class ="text-white"}) </th>
			@*<th><span style="color:green">|In Progress  @Model.InProgressOrders|</span> </th>*@

			<th>@Html.ActionLink("FINISHED", "Index", new { sortOrder = ViewBag.FinishedStatus }, new { @class ="text-white"}) </th>
			@*<th><span style="color:blue">|Finished  @Model.FinishedOrders|</span> </th>*@

			<th>@Html.ActionLink("CANCELLED", "Index", new { sortOrder = ViewBag.CancelledStatus }, new { @class ="text-white"}) </th>
			@*<th><span style="color:black">|Cancelled  @Model.CacncelledOrders|</span> </th>*@

			<th>@Html.ActionLink("TOTAL", "Index", new { sortOrder = ViewBag.TotalOrders }, new { @class ="text-white"})  </th>

		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@using (Html.BeginForm("Index", "Order", FormMethod.Get)){<p>@Html.TextBox("searchStringForOrderNumber")</p>}</td>
			<td>@using (Html.BeginForm()){<p>@Html.TextBox("searchStringForClient")</p>}</td>
			<td>@using (Html.BeginForm()){<p>@Html.TextBox("searchStringForMechanic")</p>}</td>
			<td><span style="color:red">@Model.WaitingOrders</span> </td>
			<td><span style="color:orange">@Model.InVerivicationOrders</span> </td>
			<td><span style="color:green">@Model.InProgressOrders</span> </td>
			<td><span style="color:blue"> @Model.FinishedOrders</span> </td>
			<td><span style="color:yellow">@Model.CacncelledOrders</span> </td>
			<td><span style="color:white">@Model.Total</span> </td>
		</tr>
	</tbody>
</table>