@model IEnumerable<Warsztat.BLL.Models.Part>

@{
    ViewData["Title"] = "Index";
}

<h1>Parts</h1>

<p>
    <a class=" text-white" asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            
            <th>
                <label asp-for="First().PartName"></label>
            </th>
            <th>
                <label asp-for="First().PartPrice"></label>
            </th>
            <th>
                <label asp-for="First().Quantity"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.PartName
            </td>
            <td>
                @item.PartPrice
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                <a class=" text-white" asp-action = "Edit" asp-route-id = "@item.Id">Edit</a> |
                <a class=" text-white" asp-action = "Details" asp-route-id = "@item.Id">Details</a> |
                <a class=" text-white" asp-action = "Delete" asp-route-id = "@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
