@model IEnumerable<Warsztat.BLL.Models.Order>


@using Warsztat_v2.Controllers
@using Warsztat.BLL.Services


@{
	ViewData["Title"] = "Oreder";
}


<div style="float: right; width: 40%; /*height:0%;*/">@await Component.InvokeAsync("OrderStatistics")  </div>
<h1>Orders</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>




@using (Html.BeginForm())
{
	<p>
		Find by Client: @Html.TextBox("searchStringForClient")
		@*<input type="submit" value="Search" />*@
	</p>
}
@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{
	<p>
		Find by IDN: @Html.TextBox("searchStringForOrderNumber")
		@*<input type="submit" value="Search" />*@
	</p>
}
@using (Html.BeginForm())
{
	<p>
		Find by mechanic: @Html.TextBox("searchStringForMechanic")
		@*<input type="submit" value="Search" />*@
	</p>
}

<table class="table">
	<thead>
		<tr>

			<th>       
				<label asp-for="First().OrderNumber"></label>
			</th>

			<th>
			@Html.ActionLink("Start Time", "Index", new { sortOrder = ViewBag.DateSortParm })
			</th>
			<th>
				<label asp-for="First().Status"></label>
			</th>

			<th>
				@Html.ActionLink("Client", "Index", new { sortOrder = ViewBag.NameSortParm })
			</th>
			<th>
				<label asp-for="First().RegistrationNumber"></label>
			</th>
			<th>
				<label asp-for="First().Car"></label>
			</th>
			<th>
				<label asp-for="First().Mechanic"></label>
			</th>
			<th>
				<label asp-for="First().Part"></label>
			</th>
			<th>
				<label asp-for="First().PartPcs"></label>
			</th>
			<th>
				<label asp-for="First().Price"></label>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@item.OrderNumber
				</td>
				<td>
					@item.StartTime.ToString("dd-MM-yyyy")
				</td>
				<td>
					@item.Status
				</td>
				@*   <td>
					@item.Fault
					</td>*@
				<td>
					@item.Client
				</td>
				<td>
					@item.RegistrationNumber
				</td>
				<td>
					@item.Car
				</td>
				<td>
					@item.Mechanic
				</td>
				<td>
					@item.Part
				</td>
				<td>
					@item.PartPcs
				</td>
				<td>
					@item.Price
				</td>
				<td>
				<td><a asp-action="Edit" asp-route-id="@item.Id"><span style="color:blue">Edit</span></a></td>
				<td><a asp-action="Details" asp-route-id="@item.Id"><span style="color:blue">Details</span></a></td>
				<td> <a asp-action="Delete" asp-route-id="@item.Id"><span style="color:blue">Delete</span></a></td>
				
			</tr>
		}
	</tbody>
</table>

