@model IEnumerable<Warsztat_v2.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
        
            <th>
                <label asp-for ="First().OrderNumber"></label>
            </th>
                <th>
               <label asp-for ="First().Client"></label>
            </th>
            <th>
                 <label asp-for ="First().StartTime"></label>
            </th>
  
            <th>
                <label asp-for ="First().Status"></label>
            </th>
            <th>
                 <label asp-for ="First().Fault"></label>
            </th>
            <th>
                <label asp-for ="First().Car"></label>
            </th>
            <th>
                 <label asp-for ="First().RegistrationNumber"></label>
            </th>
                <th>
                 <label asp-for ="First().Mechanic"></label>
            </th>
                <th>
                 <label asp-for ="First().Part"></label>
            </th>
                <th>
                 <label asp-for ="First().PartPcs"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                @item.OrderNumber@item.RegistrationNumber/@item.StartTime.ToString("yyyy")/@item.Id
            </td>
         
                <td>
                @item.Client
            </td>
        
            <td>
                @item.StartTime.ToString("dd-MM-yyyy") 
              @* @DateTime.Now.ToString()*@
            </td>
  
            <td>
                @item.Status
            </td>
            <td>
                @item.Fault
            </td>
            <td>
                @item.Car
            </td>
            <td>
                @item.RegistrationNumber
            </td>
                  <td>
                @item.Mechanic
            </td>
                  <td>
                @item.Part
            </td>
                  <td>
                @item.PartPcs
            </td>
            <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
